body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

.content {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100vh;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
}

.content>section:nth-child(even) {
  background-color: aqua;
}

section {
  scroll-snap-align: start;
  flex: none;
  height: 100vh;
  position: relative;
  padding: 2rem;
}

section h1 {
  margin: 0;
}

.section-content,
.section-image {
  display: inline-block;
  width: 50%;
}

.section-image .image {
  max-width: 100%;
}