:host,
:root {
  --header-height: 70px;
}

body {
  margin: 0;
}

body header {
  height: var(--header-height);
  background-color: red;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  text-align: center;
}

section {
  /* height: 100vh; */
  background-color: gray;
  padding: 1rem;
}

.contents {
  padding: 1rem;
  position: fixed;
  width: calc(300px - 1rem - 1rem);
  height: 100vh;
  background-color: burlywood;
}

.container {
  margin-left: 300px;
  margin-top: 70px;
  z-index: 3;
}

.image-section {
  float: right;
  border-radius: 1rem;
  max-width: 200px;
}

#about {
  background-color: aqua;
}